Magazzino/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/Service1/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CheckEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminaProdotto_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaProdotto" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminaProdotto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaProdottoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoria" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProdotto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProdotto" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProdotto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProdottoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaCategorie_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaCategorie" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaCategorie_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaCategorieResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaProdotti_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaProdotti" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaProdotti_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaProdottiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificaPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificaPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificaPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificaPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificaProdotto_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificaProdotto" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificaProdotto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificaProdottoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NuovaCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:NuovaCategoria" />
  </wsdl:message>
  <wsdl:message name="IService1_NuovaCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuovaCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NuovoProdotto_InputMessage">
    <wsdl:part name="parameters" element="tns:NuovoProdotto" />
  </wsdl:message>
  <wsdl:message name="IService1_NuovoProdotto_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuovoProdottoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Registrazione_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrazione" />
  </wsdl:message>
  <wsdl:message name="IService1_Registrazione_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrazioneResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaMagazzinieri_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaMagazzinieri" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaMagazzinieri_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaMagazzinieriResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMagazziniere_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMagazziniere" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMagazziniere_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMagazziniereResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaProdottiDisponibili_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaProdottiDisponibili" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaProdottiDisponibili_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaProdottiDisponibiliResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AumentaGiacenze_InputMessage">
    <wsdl:part name="parameters" element="tns:AumentaGiacenze" />
  </wsdl:message>
  <wsdl:message name="IService1_AumentaGiacenze_OutputMessage">
    <wsdl:part name="parameters" element="tns:AumentaGiacenzeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DiminuisciGiacenze_InputMessage">
    <wsdl:part name="parameters" element="tns:DiminuisciGiacenze" />
  </wsdl:message>
  <wsdl:message name="IService1_DiminuisciGiacenze_OutputMessage">
    <wsdl:part name="parameters" element="tns:DiminuisciGiacenzeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CheckEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckEmail" message="tns:IService1_CheckEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckEmailResponse" message="tns:IService1_CheckEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaProdotto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminaProdotto" message="tns:IService1_EliminaProdotto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminaProdottoResponse" message="tns:IService1_EliminaProdotto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCategoria" message="tns:IService1_GetCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCategoriaResponse" message="tns:IService1_GetCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProdotto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProdotto" message="tns:IService1_GetProdotto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProdottoResponse" message="tns:IService1_GetProdotto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaCategorie">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListaCategorie" message="tns:IService1_ListaCategorie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListaCategorieResponse" message="tns:IService1_ListaCategorie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaProdotti">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListaProdotti" message="tns:IService1_ListaProdotti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListaProdottiResponse" message="tns:IService1_ListaProdotti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificaPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModificaPassword" message="tns:IService1_ModificaPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModificaPasswordResponse" message="tns:IService1_ModificaPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificaProdotto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModificaProdotto" message="tns:IService1_ModificaProdotto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModificaProdottoResponse" message="tns:IService1_ModificaProdotto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NuovaCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NuovaCategoria" message="tns:IService1_NuovaCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NuovaCategoriaResponse" message="tns:IService1_NuovaCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NuovoProdotto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NuovoProdotto" message="tns:IService1_NuovoProdotto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NuovoProdottoResponse" message="tns:IService1_NuovoProdotto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registrazione">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Registrazione" message="tns:IService1_Registrazione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegistrazioneResponse" message="tns:IService1_Registrazione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserLogin" message="tns:IService1_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserLoginResponse" message="tns:IService1_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaMagazzinieri">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListaMagazzinieri" message="tns:IService1_ListaMagazzinieri_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListaMagazzinieriResponse" message="tns:IService1_ListaMagazzinieri_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMagazziniere">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMagazziniere" message="tns:IService1_GetMagazziniere_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMagazziniereResponse" message="tns:IService1_GetMagazziniere_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaProdottiDisponibili">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListaProdottiDisponibili" message="tns:IService1_ListaProdottiDisponibili_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListaProdottiDisponibiliResponse" message="tns:IService1_ListaProdottiDisponibili_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AumentaGiacenze">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AumentaGiacenze" message="tns:IService1_AumentaGiacenze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AumentaGiacenzeResponse" message="tns:IService1_AumentaGiacenze_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DiminuisciGiacenze">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DiminuisciGiacenze" message="tns:IService1_DiminuisciGiacenze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DiminuisciGiacenzeResponse" message="tns:IService1_DiminuisciGiacenze_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaProdotto">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminaProdotto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoria">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdotto">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProdotto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaCategorie">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaCategorie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaProdotti">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaProdotti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificaPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/ModificaPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificaProdotto">
      <soap:operation soapAction="http://tempuri.org/IService1/ModificaProdotto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuovaCategoria">
      <soap:operation soapAction="http://tempuri.org/IService1/NuovaCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuovoProdotto">
      <soap:operation soapAction="http://tempuri.org/IService1/NuovoProdotto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrazione">
      <soap:operation soapAction="http://tempuri.org/IService1/Registrazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaMagazzinieri">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaMagazzinieri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMagazziniere">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMagazziniere" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaProdottiDisponibili">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaProdottiDisponibili" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AumentaGiacenze">
      <soap:operation soapAction="http://tempuri.org/IService1/AumentaGiacenze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DiminuisciGiacenze">
      <soap:operation soapAction="http://tempuri.org/IService1/DiminuisciGiacenze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Server/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>